@keyframes card-flip {
  0% {
    transform: rotateY(0deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotateY(90deg) rotateX(-15deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform: rotateY(180deg);
  }
}

body {
  perspective: 1000px;
  margin: 100px;
}

#card,
#back {
  width: 7em;
  height: 12em;
}

#front {
  width: 5em;
  height: 10em;
}

#back > div {
  width: 5em;
  height: 4em;
}

#card {
  animation: card-flip 3s 1s infinite alternate;
  position: relative;
  transform-style: preserve-3d;
}

#front,
#back {
  position: absolute;
  top: 0;
  left: 0;
}

/* different, to show different bugs */
#front,
#back > div {
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  backface-visibility: hidden;
}

#back > div {
  transform: translateX(0);
  background: rgba(0, 0, 128, 0.6);
  color: aqua;
}

#back > div:nth-child(1) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#back > div:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform-style: preserve-3d;
}

#front {
  background: rgba(192, 192, 0, 0.6);
  color: maroon;
}

#back {
  transform: rotateY(180deg);
}

.circle {
  display: inline-block;
  width: 0;
  height: 0;
  border: 2em solid;
  border-radius: 50%;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border: 2em solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
