#box {
  width: 120px;
  height: 120px;
  background-color: rgba(247, 169, 169, 0.788);
  border-radius: 12px;
  border: solid rgb(247, 169, 169) 4px;
  transition: all 0.7s ease;
}
#box:hover {
  transform: rotate(120deg) scale(1.5) translateY(-100px);
}
