.box {
  display: grid;
  width: 240px;
  height: 240px;
  margin: 100px;
  background-color: rgba(55, 255, 5, 0.5);
  border-radius: 12px;
  border: 4px solid #14dd57;
}

.box:hover {
  transform: rotateZ(60deg);
  background-color: lightcoral;
  opacity: 50%;
  transition: 2s;
}
